{% extends "header.html" %}
	{% block header%}<style>
			.container {
				padding-top: 100px;
				max-width: 100%;
			}
		</style>   	{% endblock %}
	
	{% block body %}
	
	{% if page == "Profile" %}
		<title> Profile Page </title>
		<div class = "container">
		<h2> This is your own personal profile page! </h2>
		 To show the number of friends you must first tweet! <br>
			User Email : {{session['email']}} <br>
			Number Of Friends : {{session["numberOfFollowers"]}} <br>
		Remember the less that you have on the site the better!
			</div>
		
		
	
	{% else %}
	<title> About Page </title>
	<div class = "container">
		<h4> Welcome to a simplified web application which is a rip-off of twitter.
			The concept is similar but please note that there are no private followers
			at this time. To use this website, users need to register and then add (via email)
			people they wish to follow. <br> <br>Following others allow you to view ALL their tweets ordered
			from recent to oldest. The people you follow will be viewable in your Profile page. In addition,
			the profile page displays people who follow you, the ability to unfollow others (cannot block others at this time)
			and the ability to look up friends Tweets.
		</h4>
	</div>	
	{% endif %}
	{% endblock %}