{% extends "header.html" %}
{% block body%}
<title> Flask Twitter</title>
<style>
.jumbotron
    {
        max-height: 200px;
    }
	</style>
<div class = "jumbotron text-center">
		<h1> Presenting Twitter 2.0</h1>
			<p> Better Than The Original</p>
</div>
<br>
<div class="container-fluid">
	<div class="row">
		<div class = "col-md-6 col-md-offset-4">

{% if  not session['authenticated'] %}

	<h3> Please sign in to view and post tweets! </h3>
{% else %}
	<form method = "post">
		<textarea rows="5" cols="60" maxlength="100" autocomplete="off"  name = "tweet" 
		placeholder= " Start Sharing your life by typing here!" /></textarea>
			<button type = "submit" class = "btn btn-primary" style="width:407px; ">
				<span class="glyphicon glyphicon-pencil"/>
			</button>
		</form>

</div>
</div>
<br>
<div class = "col-md-5 col-md-offset-1" style="word-wrap: break-word">
	<div class = "panel panel-info">
		<div class = "panel-heading">
			<h1 class = "panel-title text-center"> My Tweets</h1>
		</div>
			{% for p in myTweet%}
				<div class = "panel-body">
					{{p}} 
				</div>
		{% endfor %}
		</div>
		</div>
<div class = "row">
	<div class = "col-md-5" style="word-wrap: break-word">
	<div class = "panel panel-info">
		<div class = "panel-heading">
			<h1 class = "panel-title text-center"> Most Recent Friend Tweets </h1> 
		</div>
	{% for p in messageList%}
		<div class = "panel-body">
			{{p}} 
		</div>
		{% endfor %}

		

	</div>
	</div>
	</div>
	</div>
{% endif %}

		
{% endblock %}
