{% extends "header.html" %}
	{% block header%}
		<style>
			.container {
			max-width: 100%;
			padding-top: 50px;
			}
		</style>   
	{% endblock %}

	{% block body %}
		<title> {{whoToLookUp}}'s Profile Page </title>
		<div class = "container" style="text-align: center;">
		<div class = "row">
		<div class = "col-md-6">
			<h2> {{whoToLookUp}}'s profile page </h2>
			</div>
				<div class = "col-md-6">
				<h2 class = "text-warning">User Email : {{whoToLookUp}} </h2>
				</div>
	</div>
		<div class = "row">
		<div class = "col-md-6">
		Profile Lookup!
				<form method = "post">
					<select name="lookup" required>
						{% for p in following%}
							<option value = "{{p}}"> {{p}} </option>
						{% endfor %}
						{% for f in followers%}
							{% if f not in following %}
								<option value = "{{f}}"> {{f}} </option>
							{% endif %}
						{% endfor %}
					</select>

					<input type = "submit" name ="btn" value = "Look up Profile">
				</form>
				</div>
			<div class = "col-md-6">
				
		Tweets Lookup!
				<form method = "post">
					<select name="tweetLookUp" required>
						{% for p in following%}
							<option value = "{{p}}"> {{p}} </option>
						{% endfor %}
						{% for f in followers%}
							{% if f not in following %}
							<option value = "{{f}}"> {{f}} </option>
							{% endif %}
						{% endfor %}
					</select>

					<input type = "submit" name ="btn" value = "Look up Tweets">
				</form>
			</div>
		</div>
		
		<div class = "container">
			<div class = "row">
				<div class = "col-md-6">
					<h2 class = "text-info">People {{whoToLookUp}} currently follow:</h2>
					{% for p in following%}
						<ul>
							<p> {{p}} </p>
						</ul>
					{% endfor %}
				</div>
				<div class = "col-md-6">
					<ul>	
						<h2 class = "text-success">Here are all {{whoToLookUp}} followers:</h2>
						{% for f in followers%}
							<ul>
								<p> {{f}} </p>
							</ul>
						{% endfor %}
					</ul>
				</div>
			</div>
			
<p style="position: fixed; bottom: 0; width:100%; text-align: center"> 
You will ONLY be able to get tweets from those you are following.<br> 
If no one follows you, you will be talking to yourself. </p>
		</div>
		
	{% endblock %}




