{% extends "header.html" %}
	{% block header%}
		<style>
			.container {
				padding-top: 50px;
				max-width: 100%;
			}
		</style>   
	{% endblock %}

	{% block body %}
	<title> {{tweetToLookUp}}'s Tweets </title>
		<div class = "container">
			<div class = "row">
				<h2 class = "text-info">All the stuff {{tweetToLookUp}} has shared with the world (Most Recent is on the bottom!): </h2> <br>	
					
				<ol>
					{% for p in messageList %}
					
						<li><p> {{p}} </p></li>
					
					{% endfor %}
				</ol>
			</div>
		</div>
		
	{% endblock %}

